<div class="jumbotron">   <!-- Jumbotron Asi se llama en Bootstrap  -->
  <h1 class="display-4 animated fadeIn fast">Aplicación de Comic</h1> <!--  Las calses animated fadeIn y fast son para las animaciones de la pag, para que se muestre el contenido barrido ver en todas las etiquetas -->
  <p class="lead animated fadeIn">Esta es una apicación de comics.</p>
  <hr class="my-4">
  <p class="animated fadeIn">Disfruta mucho de nuestro contenido, y dinos que te parecio!!.</p>
  <a class="btn btn-primary btn-lg animated fadeIn" href="#" role="button">Leer mas</a>
</div>
