<h1>Buscador <small>{{ termino }}</small></h1>
<hr>

<div class="row" *ngIf="heroesEn.length == 0"> <!-- Para mostrar u ocultar el aviso de que se no se encontro coincidencias (heroe)  -->
  <div class="col-md-12">
    <div class="alert alert-info">
      No existen resultados con el termino: {{ termino }}
    </div>
  </div>
</div>

<div class="card-columns"> <!--  sacado de bootstrap "Cards" -->

  <div class="card animated fadeIn fast" *ngFor="let heroe of heroesEn let i = index">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body">
      <h5 class="card-title"> {{ heroe.nombre }} </h5>
      <p class="card-text"> {{ heroe.bio }} </p>
      <p class="card-text"><small class="text-muted"> {{ heroe.aparicion }} </small></p>

      <!-- BOTON: Linea de abajo.utilizando el boton, se le asigna la funcion (click) al boton para cuando se presione, y junto con la funion verHeroe() creada en heroes.component  -->
      <button (click)="verHeroe(i)" type="button" name="button" class="btn btn-outline-success my-2 my-sm-0 btn-block">Ver mas</button>

      <!-- A: Linea de abajo. sistema de rutas usando <a> </a> en lugar de button con routerLink, se crea un index en el ngFor,, ver arriva  -->
      <!-- <a class="btn btn-outline-success my-2 my-sm-0 btn-block" [routerLink]="['/heroe',i]">Ver mas Link...</a> -->

    </div>
  </div>

</div>
