<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Comic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <a class="navbar-brand" href="#">
      <img src="assets/img/A-64.png" width="30" height="30" alt="">
    </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <!-- ACTIVE -->
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home</a>  <!-- SINTAXIS DE NUEVO SISTEMA DE RUTAS, ASI SE DEBE DEFINIR UNA RUTA = [routerLink]="['home']"   -->
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['heroes']">Heroes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['about']">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contactos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Locación</a>
          <a class="dropdown-item" href="#">Teléfonos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Sucursales</a>
        </div>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">      <!-- ESTE DEBE SER UN DIV, PORQUE SI ES UN FORM SE ACTUALIZA LA PAGINA CADA VEZ UE BUSCAMOS ALGO -->
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Search" #buscarTexto (keyup.enter)="verHeroe(buscarTexto.value)">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="verHeroe(buscarTexto.value)" >Buscar</button>
    </div>
  </div>
</nav>
