<!-- Esta nueva pag se va a encargar de mostrar mas informacio del heroe -->

<h1 class="animated fadeIn fast"> {{ heroe.nombre }} <small>{{ heroe.aparicion }}</small></h1>
<hr>

<div class="row animated fadeIn">
  <div class="col-md-4">

    <img [src]="heroe.img" [alt]="heroe.nombre" class="img-fluid" >
    <br><br>
    <a class="btn btn-outline-success my-2 my-sm-0 btn-block" [routerLink]="['/heroes']">Reresar</a>
    <br><br>
  </div>

  <div class="col-md-8">

    <h3> {{ heroe.nombre }} </h3>
    <hr>
    <p>
      {{ heroe.bio }}
    </p>

    <div class="">
      <!-- // Al erferenciar la casa en el ngIf no se pone entre llaves porque el ngIf es de typeScript y acepta codigo TypeScript. -->
      <img *ngIf="heroe.casa == 'Marvel'" class="img-logo" src="assets/img/marvel-logo.png" alt="">
      <!-- // Al erferenciar la casa en el ngIf no se pone entre llaves porque el ngIf es de typeScript y acepta codigo TypeScript. -->
      <img *ngIf="heroe.casa == 'DC'" class="img-logo" src="assets/img/dc-logo.jpg" alt="">
      <br>
      <p>Casa: {{ heroe.casa }}</p>
    </div>

  </div>
</div>
